<!DOCTYPE html>
<html>
<head>
    <title>Add Quiz</title>
</head>
<body>

    <h1>Add Quiz</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    
    <form action="/quiz/add" method="post">
        <input type="text" name="quiz_subject" placeholder="subject"></input>
        <input type="text" name="quiz_question_count" placeholder="question count"></input>
        <input type="text" name="quiz_date" placeholder="date"></input>

        <input type="submit" value="Add Quiz"></input>
    </form>
</body>
</html>